:root{

--branco-principal:white;
  --cinza-secundario: gray;
  --botao-azul:blue;
  --cord-fundo:black;
}

body{

background-color:black;
  color:white;
  font-size:16px;
  font-weight:400;
}

principal{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GvQHOqnR9ui8LVEqgDkuz3WODohmJ7AjJNlptcg4TXpMf_9FP3txipk&s=10");

backgrownd-size: contain;
